<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Profession Quest</h1>
        <div class="input-group input-group-lg">
             <span class="input-group-btn">
              <input type="text" class="form-control" placeholder="Change your email address" aria-describedby="sizing-addon1">
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-btn">
            <input type="text" class="form-control" placeholder="Change your password" aria-describedby="sizing-addon1">
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-btn">
            <input type="text" class="form-control" placeholder="Confirm your password" aria-describedby="sizing-addon1">
        </div>
        <p><a class="btn btn-default btn-lg" href="/login" role="button">Submit</a></p>
    </div>
</div>