<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
                <img src="/images/logo.png" style="width: 200px; height: 76px">
          </div>
    </nav>
    {{{body}}}
</body>
</html>

