<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <img src="logo.png" style="width: 200px; height: 76px">
  </div>
</nav>
	<div class="back">
		<!-- <img src="background.jpg"> -->
		<!-- <img src="background.jpg"class="img-responsive" alt="Responsive image"> --> -->
		
	</div>
  </body>
</html>
