<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
                <img src="/images/logo.png" style="width: 200px; height: 76px">
          </div>
    </nav>
    {{{body}}}
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <script src="/javascripts/models.js"></script>
    <script src="/javascripts/views.js"></script>
    <script src="/javascripts/main.js"></script>
</body>
</html>

