
  <div class="container">
	    <div class="jumbotron">
	        <h1>Welcome to Profession Quest</h1>
					<form action="/login" method="Post">    
						<div class="input-group input-group-lg">
					  		<span class="input-group-btn">
					  		<input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
						</div>
						<div class="input-group input-group-lg">
					  		<span class="input-group-btn">
					  		<input type="text" class="form-control" placeholder="Password" aria-describedby="sizing-addon1">
						</div>
								<button type="submit" class="btn btn-default btn-lg" role="button">Login</button>
					      <p><a class="btn btn-default btn-lg" href="/register" role="button">Register with Us</a></p>
					</form>  
			</div>
  </div>

	  