<div class="container">
  <div class="jumbotron">
    <h1>Profession Quest</h1>
    <!-- <h3>Multi-Source Job Search</h3> -->
    <h3>Quickly search for jobs across multiple sources including:<br> Github, Dice, USAJobs and more to come...</h3>
    <!--<h4>Take your job search to the next level with hyper awesome.. ahaha just kidding</h4>
    <h4>Find and save jobs that fit your lifestyle</h4>
    <h3>You'll love our site soo much, you wont want the job search to end</h3>
    <h3>Got jobs</h3>
    <h3>Take a sip from our tall glass of job</h3>-->
		<form action="/login" method="post">
			<div class="input-group input-group-lg">
	  		<span class="input-group-btn">
<<<<<<< HEAD
          <input name="email" type="email" class="form-control" placeholder="Email Address" aria-describedby="sizing-addon1"><br />
          <input name="password" type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1"><br />
          <div><button type="submit" class="btn btn-default btn-lg"role="button">Login</button></div>
          <h3>Are you a new User?</h3>
          <p><a href="/users/register" class="register" role="button">Register with Us</a></p>
        </span>
      </div>
=======
	  			<input name="email" type="email" class="form-control" placeholder="Please enter your email address" aria-describedby="sizing-addon1"><br />
	  			<input name="password" type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1"><br />
					<div><button type="submit" class="btn btn-default btn-lg"role="button">Login</button></div>
					<h3>Are you a new user?</h3>
	      <p><a href="/users/register" class="register" role="button">Register with us</a></p>
>>>>>>> da7e36e448672d4b65f658aa5cac2161857ad593
		</form>
	</div>
</div>
