<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Profession Quest</h1>
      
<div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1"></span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
</div>
<div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1"></span>
  <input type="text" class="form-control" placeholder="Password" aria-describedby="sizing-addon1">
</div>


      <p><a class="btn btn-default btn-lg" href="#" role="button">Login</a></p>
      </div>
  </div>