<h1>Register</h1>
<div class="jumbotron">
			<div class="container">
  			<h1>Welcome to Profession Quest</h1>
  				<p>Please enter your email</p>
  				<input>
  				<p>Please enter a password</p>
  				<input id="box">
  				<p>Please confirm your password</p>
  				<input>	

  		<p><a class="btn btn-primary btn-sm" href="#" role="button">Submit</a></p>
  		</div>
		</div>
