.navbar-default{
	background-color: rgb(71, 199, 239);
	height: 63px;
}
/*.back{
	background-image: cover;
}*/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#box{
	margin-bottom: 5px;
}