body{
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}
.navbar-default{
	background-color: #47c7ef;
	height: 10%;
	border-color: #47c7ef;
}
.logo{
	position: absolute;
	left: 0px;
	margin-left: 1em;
}
/*user nav*/
.dropdown{
	position: relative;
	display: inline-block;
	float: right;
}
.dropdown .dropdown-menu{
	position: absolute;
	top: 100%;
	display: none;
	margin-top: -3.5px;
	margin-right: 0;
	list-style: none;
	width: 100%;
	padding: 0;

}
.dropdown:hover .dropdown-menu{
	display: block;
}

.dropdown a{
	display: block;
	padding: 0.2em 0.8em;
	text-decoration: none;
	background-color: #cccccc;
	color: #333333;

}
.dropdown a:hover{
	background: #BBBBBB;

}

.fa{
	padding-right: 100px;
}

/*main section all pages*/
.jumbotron{
	text-align: center;
	color: white;
	margin-top: 250px;
	background: rgba(71, 199, 239, 0.90);
	border: solid white;
	border-radius: 25px !important;
	padding: 8px;
}
/*input fields*/
.input-group .form-control{
	margin-bottom: 8px;
	width: 100%;
	margin-right: 5px;
	float: none;
}
/*buttons*/
.btn-group-lg.btn,.btn-lg{
	border-radius: 300px;
	margin-top: 8px;
	width: 10em;
	background-color: black;
	color: white;
	border: none;
	position: none;
}
/*search display*/
#tableTop{
	background-color: #47c7ef;
	font-weight: bold;
	font-size: 20px;
	width: 85%;
	text-align: center;
}

.search-result{
		background-color: white;
    background-color: #f5f5f5;
    width: 85%;
    margin: auto;
    font-size: 20px;
    line-height: 20px;
    padding: 8px;
}

.search-result:hover{
	background-color: #BBBBBB;
}

.company{
	font-weight: bold;
}
#query{
	margin-top: 100px;
	margin-bottom: 5%;
	height: 2em;
	width: 42.5%;
}
#city{
	margin-top: 100px;
	margin-bottom: 5%;
	height: 2em;
	width: 42.5%;
}
#buttonSearch{
	margin-top: 5%;
	width: 15%;
	height: 2em;
	color: #47c7ef
}
