body{
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
  background-position: right; top;
  background-attachment: fixed;
  font-family: Helvetica,Arial,sans-serif;
}

.navbar-default{
	background-color: #47c7ef;
	height: 10%;
	border-color: #47c7ef;
}
.logo{
	position: absolute;
	left: 0px;
	margin-left: 2em;
}
/*user nav*/
.dropdown{
	position: relative;
	display: inline-block;
	float: right;

}
.dropdown-menu{
	position: relative;
	top: 100%;
	display: none;
	margin-top:48px;
	margin-right: 0;
	list-style: none;
	width: auto;
	padding: 0;
	float: inherit;
}
.dropdown:hover .dropdown-menu{
	display: block;
}

.dropdown a{
	display: block;
	text-decoration: none;
	background-color: #cccccc;
	color: #333333;
}

.dropdown a:hover{
	background: #BBBBBB;
}


.fa{
	position: absolute;
	right: 0px;
	margin-right: 1em;
	margin-top: 10px;
}


/*main section all pages*/
.jumbotron{
	text-align: center;
	color: white;
	background: rgba(71, 199, 239, 0.90);
	border-radius: 25px !important;
	padding: 3px;
}

/*input fields*/
.input-group .form-control{
	margin-bottom: 8px;
	width: 100%;
	margin-right: 5px;
	float: none;
}
/*buttons*/
.btn-group-lg.btn,.btn-lg{
	width: auto;
	height: 2.5em;
	color: #000;
	background-color: #cccccc;
	text-align: center;
}

.register{
	color: black;
}
/*search display*/
#tableTop{
	font-weight: bold;
	font-size: 20px;
	width: 95%;
	text-align: center;
}

.col-md-15{
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

.search-result{
		background-color: #f4f4f4;;
    background-color: #f5f5f5;
    width: 95%;
    margin: auto;
    font-size: 20px;
    line-height: 25px;
    padding: 8px;
    text-align: center;
}

.search-result:hover, .saved-result:hover{
	background-color: #BBBBBB;
}
.saved-result{
		background-color: #f4f4f4;;
    background-color: #f5f5f5;
    width: 95%;
   	margin: auto;
    font-size: 20px;
    line-height: 25px;
    padding: 8px;
    text-align: center;
}

.company{
	font-weight: bold;
}
#query, #city, #location{
	margin-bottom: 5%;
	height: 2em;
	width: 42.5%;
}

#buttonSearch{
	padding-left: 1px;
	width: 15%;
	height: 2em;
	color: black;
	background-color: #47c7ef;
}
.saveButton, .deleteButton{
	background-color: #47c7ef;
}
.savedJob{
	text-align: center;
	color: white;
}

.messages {
	text-align: center;
	color: red;
	font-weight: bold;
}
